/* You can add global styles to this file, and also import other style files */
@use './assets/styles/global/resets';
@use './assets/styles/fonts/fonts';

:root {
  --primary-color: black;
  --secondary-color: white;
}


* {
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}


body {
  margin: 0;
  background-color: var(--primary-color);
}

aside {
  width: 15.625rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

section {
  padding-block: 2.5rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  max-width: 90%;
  margin: 0 auto;
}